<template>
  <div class="home">
    <v-app-bar tag="nav" app color="primary" class="justify-space-around">
      <v-layout class="white--text d-flex justify-space-between align-center">
        <v-toolbar-title class="white--text text-uppercase font-weight-bold">Nyoba Aja</v-toolbar-title>
        <v-toolbar-items class="d-none d-sm-block">
          <v-btn text v-for="(nav,index) in navBar" :key="index" class="pa-2 mr-4">{{ nav }}</v-btn>
        </v-toolbar-items>
        <v-toolbar-items class="d-none d-sm-block">
          <v-btn
            text
            class="mr-4 py-2 px-5 blue-grey lighten-3 rounded-pill"
            color="green accent-4"
          >
            <v-icon left>mdi-login</v-icon>Login
          </v-btn>
          <v-btn text class="py-2 px-5 blue-grey lighten-3 rounded-pill" color="green accent-4">
            <v-icon left>mdi-account-plus</v-icon>Register
          </v-btn>
        </v-toolbar-items>
      </v-layout>
      <v-menu
        transition="slide-x-transition"
        min-width="100%"
        nudge-bottom="50px"
        content-class="rounded-0 primary"
      >
        <template v-slot:activator="{on}">
          <v-app-bar-nav-icon color="white" class="d-block d-sm-none" v-on="on"></v-app-bar-nav-icon>
        </template>
        <v-list color="primary" class="d-block d-sm-none">
          <v-btn class="white--text" text block v-for="(nav,index) in navBar" :key="index">{{nav}}</v-btn>
        </v-list>
      </v-menu>
    </v-app-bar>
    <!-- Carousel-->
    <v-carousel :show-arrows="false" hide-delimiters cycle interval="3000">
      <v-carousel-item
        v-for="(item,i) in items"
        :key="i"
        :src="item.src"
        reverse-transition="fade-transition"
        transition="fade-transition"
      ></v-carousel-item>
    </v-carousel>
    <div>
      <p v-for="(item,i) in items" :key="i" v-text="item.src"></p>
    </div>
  </div>
</template>

<script>
export default {
  name: "navbar",
  data: () => ({
    navBar: ["Home", "Karir", "About Us"],
    items: [
      {
        src: require("@/assets/1.jpg")
      },
      {
        src: require("@/assets/2.jpg")
      },
      {
        src: require("@/assets/3.jpg")
      }
    ]
  })
};
</script>

